
<section id="log-register" class="ui grid aligned center">
    <a class="ui button teal large" href="/home/register">Cadastre-se</a>
</section>

<section id="flowchart-example" class="ui grid aligned center">
    <strong>Fluxogramas executáveis</strong>
    <div id="flowchart-container">
        <div id="begin-shape" class="shape" title="begin" data-flow-name="begin">
        </div>

        <div id="process-shape" class="shape" title="process" data-flow-name="process">
            <code>variavel &lt;- "Hello world"</code>
        </div>

        <div id="display-shape" class="shape" title="display" data-flow-name="display">
            <code>variavel</code>
        </div>

        <div id="end-shape" class="shape" title="end" data-flow-name="end">
        </div>
    </div>
</section>