<style>
    button {
        margin: 20px !important;
    }
</style>

<div>
    <form method="post" action="/install/install">
        <button class="ui button red" type="submit" name="submit">Install all</button>
    </form>
</div>